@model IEnumerable<CarritoCompras_NT1.Models.CarritoItem>

@{
    ViewData["Title"] = "Mi Carrito";
    Guid carritoId = ViewBag.CarritoId;
}

<h1>Mi Carrito</h1>

<p>
    <a asp-controller="Carritos" asp-action="LimpiarCarrito" class="btn btn-danger">Eliminar todos los productos</a>
    <!--asp-route-id="carritoId"-->
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <!--
                <th>
                    Html.DisplayNameFor(model => model.Carrito)
                </th>-->
                <th>
                    @Html.DisplayNameFor(model => model.Producto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorUnitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subtotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <!--
                    <td>
                        Html.DisplayFor(modelItem => item.Carrito.Id)
                    </td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Quitar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: "@ViewBag.Total"</p>
    <a asp-controller="Compras" asp-action="ConfirmarCompra" class="btn btn-primary">Confirmar Compra</a>
    <!--asp-route-id="TempData["CarritoId"]"-->
</div>
