@model IEnumerable<CarritoCompras_NT1.Models.CarritoItem>

@{
    ViewData["Title"] = "LimpiarCarrito";
    Guid id = ViewBag.CarritoID;
    float total = ViewBag.Total;
}

<h4>¿Seguro que quiere eliminar todos los productos?</h4>

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>
                   Producto
                </th>
                <th>
                   Cantidad
                </th>
                <th>
                   Precio
                </th>
                <th>
                   Subtotal
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CarritoItem item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total: "@total"</p>

    <form asp-action="LimpiarCarritoConfirmado">
        <input type="hidden" asp-for="@id" />
        <input type="submit" value="Limpiar Carrito" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
    
</div>